* {
  box-sizing: border-box;
  margin: 0;
}

body {
  margin: 0;
}

.board {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.square {
  width: 60px;
  height: 60px;
  font-size: 20px;
}

.square:hover {
  cursor: pointer;
}
