* {
  box-sizing: border-box;
  margin: 0;
}

body {
  margin: 0;
}

.board {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.2px;
}

.square {
  width: 70px;
  height: 70px;
  font-size: 20px;
}

.square:hover {
  cursor: pointer;
}

.board-row {
  display: flex;
  gap: 0.2px;
}

.status {
  margin-top: 20px;
  font-size: 20px;
}
