body {
  margin: 0;
}

* {
  box-sizing: border-box;
}

.red {
  color: red;
}

.blue {
  color: blue;
}

input {
  display: block;
  margin: 5px;
}

.parentContainer {
  width: 88%;
  background-color: rgba(245, 150, 150, 0.438);
  padding-block: 5px;
}
